<div
    class="product"
    style="padding: 5px"
>
    <div class="photo">
        <%= image_tag product.photo, width: 100 if product.photo.attached? %>
    </div>
    <span
        class='title'
        style="font-weight: bold;"
    >
        <%= product.title %> |
    </span>
    <span>
        $<%= product.price %>
    </span>
    <div>
        <%=
            link_to t('common.action.see_more'),
            product_path(product.id),
            'data-turbo-frame': '_top'
        %>
    </div>
</div>