<h2>Products:</h2>

<% @products.each do |product| %>
    <div
        class="product" 
        style="padding: 5px"
    >
        <div class="photo">
            <%= image_tag product.photo, width: 100 if product.photo.attached? %>
        </div>
        <span style="font-weight: bold;">
            <%= product.title %> |
        </span>
        <span>
            $<%= product.price %>
        </span>
        <div>
            <%= link_to 'See more...', product_path(product.id) %>
        </div>
    </div>
<% end %>