<h2>Product details:</h2>

<div class="title">
    Title: <%= @product.title %>
</div>
<div class="description">
    Description: <%= @product.description %>
</div>
<div class="price">
    Price: <%= @product.price %>
</div>
